	  #banner {
          background: midnightblue; /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(#00204E, #000428); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(#00204E, #000428); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(#00204E, #000428); /* For Firefox 3.6 to 15 */
          background: linear-gradient(#00204E, #000428); /* Standard syntax (must be last) */
          display: flex;
          align-items: center;
          justify-content: center;
          color: whitesmoke;
          height: 6vh;
          font-size: 1.0em;

      }
      
      .container {
      	display: none;
      }
      
      .thirdcontainer {
      	display: none;
      }
      #view2 {
        width: 100%;
        clear: both;
      }

      #info-pane{
        float: left;
        width: 40%;
        height: inherit;

      }
      #review-pane {
        float: right;
        width: 60%;
        height: inherit;
      }

      #bkg-img-container {
        display: inline-block;
        position: relative;
        max-width: 100%;
        height: auto;
      }
      #bkg-img-container img{
        max-width: 100%;
        height: auto;
        opacity: 0.7;
      }
      #uni-name {
        position: absolute;
        font-style: "Helvetica" "sans serif";
        font-size: 4em;
        bottom: 65%;
        left: 5%;
        color: white;
      }

      #uni-name span {
        background-color: rgba(0 ,0, 0, 0.6);
        padding-left: 10px;
        padding-right: 10px;
      }

      #uni-info-wiki {
        bottom: 40%;
        position: absolute;
        font-size: 1.3em;
        margin: 10%;
        color:white;
      }

      #uni-info-wiki span {
        background-color: rgba(0 ,0, 0, 0.5);
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 1px;
      }

      #course-preview h3 {
        font-size: 3em;
        margin-left: 3%;
        text-align: center;
      }

      #button-container {
        text-align: center;
        width: 100%;
      }

      #button-container button {
        display:block;
        padding:3% 10%;
        margin: 5% 15% 20% 15%;
        font-size: 2.5em;
      }

      .course {
        width: 90%;
        background-color: lightblue;
        height: auto;
        margin-left: 5%;
        margin-bottom: 2%;
        padding: 1%;
      }
      .course h4{
        font-size: 1.8em;
        margin:auto;
      }

      .course p{
        font-size: 1em;
        margin-left: 2%;
      }

      .quote {
        font-size: 1em;
        font-style: italic;
        color: black;
        margin-bottom: 1%;
        text-align: center;
      }
      body {
          margin: 0px;
          height: 100%;
      }